<div>
  <h3>Inheritance</h3>
  <div><app-sub></app-sub></div>
  <div><app-sub2></app-sub2></div>
</div>

<div>
  <h3>object comp. and services</h3>
  <div><app-dark-theme></app-dark-theme></div>
  <div><app-light-theme></app-light-theme></div>
</div>

<div>
  <h3>object comp. and observables</h3>
  <div><app-supermarket></app-supermarket></div>
  <div><app-cart></app-cart></div>
</div>

<div>
  <h3>object comp. and decorators</h3>
  <div><app-imbiss></app-imbiss></div>
</div>

<div>
  <h3>object comp. in services</h3>
  <app-palette></app-palette>
</div>
